{% extends "base.html" %}
{% block content %}
<section class="panel">
  <h1 class="section-title">Question Bank</h1>
  <table class="data-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Question</th>
        <th>Topic</th>
        <th>Samples</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in questions %}
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.question }}</td>
          <td><span class="tag">{{ item.topic }}</span></td>
          <td>
            <ul class="compact-list">
              {% for title in item.sample_titles %}
                <li>{{ title }}</li>
              {% endfor %}
            </ul>
          </td>
          <td><a class="button small" href="/ask?q={{ item.question|urlencode }}">Ask</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}
